server:
  port: 8080

spring:
  application:
    name: core

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${OAUTH2_GITHUB_CLIENT_ID}
            client-secret: ${OAUTH2_GITHUB_CLIENT_SECRET}
            scope: read:user,user:email
            redirect-uri: '{baseUrl}/api/auth/oauth2/callback/github'

          google:
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET}
            scope: openid,profile,email
            client-name: google
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/api/auth/oauth2/callback/google'

        provider:
          google:
            issuer-uri: https://accounts.google.com

prizm:
  auth:
    jwt:
      secret: ${JWT_SECRET}
      access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
      refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}
    cookie:
      http-only: true
      secure: true
      same-site: ${COOKIE_SAME_SITE}
      domain: ${COOKIE_DOMAIN}