spring:
  application:
    name: core

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    stomp-port: ${RABBITMQ_STOMP_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${OAUTH2_GITHUB_CLIENT_ID}
            client-secret: ${OAUTH2_GITHUB_CLIENT_SECRET}
            scope: read:user,user:email
            redirect-uri: '{baseUrl}/api/auth/oauth2/callback/github'

          google:
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET}
            scope: profile,email
            client-name: google
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/api/auth/oauth2/callback/google'

        provider:
          google:
            issuer-uri: https://accounts.google.com

prizm:
  auth:
    jwt:
      secret: ${JWT_SECRET}
      access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
      refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}
    cookie:
      http-only: true
      # local test only
      secure: ${COOKIE_SECURE:secure}
      # local test only
      same-site: ${COOKIE_SAME_SITE:strict}
      domain: ${COOKIE_DOMAIN}
      path: /

  s3:
    endpoint: ${S3_ENDPOINT}
    region: ${S3_REGION}
    access-key: ${S3_ACCESS_KEY}
    secret-key: ${S3_SECRET_KEY}
    bucket: ${S3_BUCKET}
    public-url: ${S3_PUBLIC_URL}

  frontend:
    # local test only
    redirect-url: ${FRONTEND_REDIRECT_URL:}

  translate:
    api-url: ${TRANSLATE_API_URL}